/* --- Global Styles --- */
* {
    font-family: "NotoSans Nerd Font";
    font-size: 14px;
    min-height: 0;
    padding: 0;
}

/* --- Waybar Container --- */
#waybar {
    background: #1a1b26;
    color: #c6d0f5;
    margin: 0;
    font-weight: 500;
}

/* --- Shared Module Style --- */
#workspaces,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#custom-lock,
#cpu,
#memory,
#battery {
    background-color: #1a1b26;
    padding: 0.3rem 0.7rem;
    margin: 5px 0;
    min-width: 0;
    border: none;
    box-shadow: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#cpu:hover,
#memory:hover,
#battery:hover {
    background-color: rgb(41, 42, 53);
}

/* --- Grouped Radius Handling --- */
#cpu {
    margin-left: 7px;
    border-radius: 6px 0 0 6px;
}

#battery {
    margin-right: 7px;
    border-radius: 0 6px 6px 0;
}

/* --- Workspaces --- */
#workspaces {
    padding: 2px;
    margin-left: 7px;
    margin-right: 5px;
    border-radius: 6px;
}

#workspaces button {
    color: #babbf1;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background: rgb(41, 42, 53);
    color: #c6d0f5;
}

#workspaces button.focused {
    color: #2e9ef4;
    background-color: rgba(46, 158, 244, 0.12);
    box-shadow: inset 0 0 0 1px rgba(46, 158, 244, 0.35);
}

#workspaces button.urgent {
    color: #e78284;
    background-color: rgba(231, 130, 132, 0.1);
    box-shadow: inset 0 0 0 1px rgba(231, 130, 132, 0.2);
}

/* --- Colors --- */
#clock,
#cpu,
#memory,
#pulseaudio,
#backlight,
#network {
    color: #c6d0f5;
}

#network.disconnected {
    color: #e78284;
}

#bluetooth {
    font-size: 16px;
    color: #888;
}

#bluetooth.on,
#bluetooth.connected {
    color: #2e9ef4;
}

#battery {
  color: #99d1db;;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #e78284;
}

/* --- Tooltip --- */
tooltip {
    background-color: #1a1b26;
    color: #dddddd;
    padding: 5px 12px;
    margin: 9px 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
