/* --- Global Styles --- */
* {
    font-family: "NotoSans Nerd Font";
    font-size: 14px;
    min-height: 0;
    padding: 0;
}

/* --- Waybar Container --- */
#waybar {
    background: #363636;
    color: #c6d0f5;
    margin: 0;
    font-weight: 500;
}

/* --- Shared Module Style --- */
#workspaces,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#custom-lock,
#cpu,
#memory,
#battery {
    padding: 0.3rem 0.7rem;
    margin: 0px 0;
    min-width: 0;
    border: none;
    box-shadow: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#cpu:hover,
#memory:hover,
#battery:hover {
    background-color: #222222;
}

/* --- Grouped Radius Handling --- */
#cpu {
    margin-left: 7px;
    border-radius: 6px 0 0 6px;
}

#battery {
    margin-right: 0px;
    border-radius: 0 6px 6px 0;
}

/* --- Workspaces container --- */
#workspaces {
    padding: 2px;
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 6px;
}

/* --- Unfocused workspace buttons --- */
#workspaces button {
    color: #888888;                
    background-color: #222222;    
    padding: 0.3rem 0.6rem;
    border-radius: 2px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}


/* --- Focused workspace button --- */
#workspaces button.focused {
    color: #ffffff;             
    background-color: #285577; 
    box-shadow: inset 0 0 0 1px #4c7899; 
}

/* --- Hover effect (darker shade for unfocused hover) --- */
#workspaces button:hover {
    color: #000000;                   
}

/* --- Urgent workspace button --- */
#workspaces button.urgent {
    color: #ffffff;            
    background-color: #900000;
    box-shadow: inset 0 0 0 1px #2f343a;
}

/* --- Colors --- */
#clock,
#cpu,
#memory,
#pulseaudio,
#backlight,
#network {
    color: #f0f0f0;
}

#network.disconnected {
    color: #e78284;
}

#bluetooth {
    font-size: 16px;
    color: #888;
}

#bluetooth.on,
#bluetooth.connected {
    color: #2e9ef4;
}

#battery {
    color: #99d1db;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #e78284;
}

/* --- Tooltip --- */
tooltip {
    background-color: rgba(41, 42, 53, 0.9);
    color: #f0f0f0;
    padding: 5px 12px;
    margin: 9px 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
